<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
     </configSections>
  <appSettings>
    <add key="SourceMovieDb" value="cinemaworld" />
    <add key="RivalMovieDb" value="filmworld" />
    <add key="ApiToken" value="sjd1HfkjU83ksdsm3802k" />
    <add key="ApiEndpoint" value="http://webjetapitest.azurewebsites.net/api/" />
  </appSettings>
</configuration>