@{
  Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>

  <link rel="shortcut icon" type="image/png" href="/Content/jasmine/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="/Content/jasmine/jasmine.css">
  <script type="text/javascript" src="/Scripts/jasmine/jasmine.js"></script>
  <script type="text/javascript" src="/Scripts/jasmine/jasmine-html.js"></script>
  <script type="text/javascript" src="/Scripts/jasmine/boot.js"></script>

    <a href="http://../../Scripts/angular.min.js" rel="nofollow" target="_blank">http://../../Scripts/angular.min.js</a>
    <a href="http://../../Scripts/angular-route.min.js" rel="nofollow" target="_blank">http://../../Scripts/angular-route.min.js</a>
    <a href="http://../../Scripts/angular-mocks.js" rel="nofollow" target="_blank">http://../../Scripts/angular-mocks.js</a>
    <a href="http://../../Scripts/app/app.js" rel="nofollow" target="_blank">http://../../MyScripts/app/app.js</a>
    <a href="http://../../Scripts/app/service.js" rel="nofollow" target="_blank">http://../../MyScripts/app/service.js</a>
    <a href="http://../../test/service.spec.js" rel="nofollow" target="_blank">http://../../test/service.spec.js</a>
</head>

<body>
</body>
</html>
